@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/widths';
@import '../../styles/icons';

.filtersContainer {
  grid-area: filter;
  @include card;
  padding: 22px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'filter .'
    'catTitle statusTitle'
    'categories status';
  @media screen and (max-width: $md2) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
    grid-template-areas:
      'filter'
      'catTitle'
      'categories'
      'statusTitle'
      'status';
  }
  row-gap: 1rem;
  column-gap: 1.5rem;
  align-items: center;

  .filterTitle {
    grid-area: filter;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $primary-color;
    display: flex;
    .filterIcon::after {
      font-family: 'agroIcons';
      font-size: 1.5rem;
      content: '\e902';
      margin-right: 0.5rem;
    }
  }

  .catTitle {
    grid-area: catTitle;
  }

  .statusTitle {
    grid-area: statusTitle;
  }

  .catTitle,
  .statusTitle {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 143%;
    text-transform: uppercase;
    color: $secondary-color;
  }

  .categories {
    grid-area: categories;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: $md2) {
      justify-content: start;
    }
  }

  .status {
    grid-area: status;
    display: flex;
  }
}

.myCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.9rem;
  label {
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 143%;
    color: $almost-black;
    margin-left: 10px;
  }
}
input[type='checkbox'] {
  margin: 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &::after {
    font-family: 'agroIcons';
    font-weight: 900;
    font-size: 0.75rem;
    content: '\e900';
    color: $primary-color;
    display: none;
  }

  &:checked::after {
    display: block;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.btn,
.message {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 143%;
  text-align: center;
  padding: 4px 16px;
  margin: 5px 5px 5px 0;
  border: 1px solid #037bff;
  border-radius: 8px;
  background-color: transparent;

  color: $primary-color;
}

.btn:disabled {
  opacity: 0.5;
}

.btn--selected {
  color: #ffffff;
  background-color: $primary-color;
  border: none;
}

.btn--error {
  color: #ffffff;
  background-color: rgb(233, 103, 103);
  border: none;
}
